:root{
    --big-image-big-card : '';
    --medium-image-big-card : '';
    --small-image-big-card : '';
}

*{
    margin: 0;
    padding: 0;
}



.section-appleTv{
    display: block;
    background-color: black;
}

#big-cards{
    padding:50px 0px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: black;
}

.big-card{
    width:100%;
    height:100%;
    transform: scale(1, 1);
    background-size:cover;
    background-image: var(--small-image-big-card);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: relative;
    justify-content:center;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (min-width: 1070px){
    .big-card{
        background-image: var(--big-image-big-card);
    }
    /* #big-cards{
        /* background-color: red;
        height: 50vh;
    } */ */
}

@media screen and (min-width: 500px) and (max-width:1069px){
    .big-card{
        background-image: var(--medium-image-big-card);
    }
    /* #big-cards{
        background-color: yellow;
        height: 70vh;
    } */
}

@media screen and (max-width:499px){
    .big-card{
        background-image: var(--small-image-big-card);
    }
    /* #big-cards{
        background-color: black;
        height: 50vh;
    } */
}


.navigate-left{
    position: relative;
    margin-left:10px;
}

.navigate-left:before{
    position: absolute;
    border-radius: 20px;
    content:' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.2);
    z-index: 0;
}

.navigate-right{
    position: relative;
    margin-right: 10px;
}

.navigate-right:before{
    position: absolute;
    border-radius: 20px;
    content:' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.2);
    z-index: 0;
}

.navigate-left:hover, .navigate-right:hover{
    cursor: pointer;
}

.navigate-left svg{
    height: 30px;
    width: 30px;
}

.navigate-right svg{
    height: 30px;
    width: 30px;
}

#big-cards::-webkit-scrollbar{
    display:none;
}

/* Start Black Overlay */
.big-card::before{
    position: absolute;
    border-radius: 20px;
    content:' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.2);
    z-index: 0;
}
/* End Black Overlay */


.big-card-header-text {
    display: none;
    position: absolute;
    font-size: 30px;
    color: white;
    font-weight: 500px;
    text-align: center;
    width:250px;
    z-index: 10;
    top:50px;
    left:50px;
}

.big-card-header-image{
    /* display: none; */
    position: absolute;
    background-image: url('https://is4-ssl.mzstatic.com/image/thumb/ZUVWaPY540Pb1dfp_VYpaw/200x61.png');
    background-size: contain;
    background-repeat: no-repeat;;
    height: 50px;
    width: 371px;
    z-index: 10;
    top:50px;
    left:50px;
}

@media screen and (max-width:499px){
    .big-card-header-image, .big-card-header-text{
        width: 50px;
        font-size: 16px;
        max-width: 100%;
        text-align:left;
    }
}

@media screen and (max-width:300px){
    .big-card-header-image, .big-card-header-text{
        display: none;
    }
}


/* @media screen and (min-width: 500px){
    .big-card{
        height: 600px;
        width: 400px;
        background-size: contain;
    }
} */




.small-cards{
    padding-bottom: 15px;
    display:flex;
    align-items: center;
    overflow: auto;
}

.small-cards::-webkit-scrollbar{
    display:none;
}

.small-card{
    height: 118px;
    width: 210px;
    min-width: 210px;
    transform: scale(1, 1);
    background-image: url('https://is4-ssl.mzstatic.com/image/thumb/Features125/v4/8b/c2/86/8bc28680-01e3-0326-3f27-9a069d4d458f/VFJZMl9UZXJ0aWFyeV9Td2luZ3NfQ1NXLVRWQS1XVy1QcmltYXJ5X1RpdGxlLVNlY29uZGFyeV9UaXRsZS5wbmc.png/1839x766sr.jpg');
    background-size:cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: relative;
    justify-content:center;
    border-radius: 20px;
    margin-right: 10px;
    
}

@media screen and (min-width: 1070px){
    .small-card{
        width:378px;
        min-width: 378px;
        height:212px;
    }
}

/* Start Black Overlay */
/* .small-card::before{
    position: absolute;
    border-radius: 20px;
    content:' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.2);
    z-index: 0;
} */

.small-card-header-text {
    display: none;
    position: absolute;
    font-size: 20px;
    width: 200px;
    text-align: center;
    color: white;
    font-weight: 500px;
    z-index: 10;
    bottom:20px;
    left:20px;
}

.small-card-header-image{
    /* display: none; */
    position: absolute;
    background-image: url('https://is4-ssl.mzstatic.com/image/thumb/ZUVWaPY540Pb1dfp_VYpaw/200x61.png');
    background-size: contain;
    background-repeat: no-repeat;;
    height: 20px;
    width: 200px;
    z-index: 10;
    bottom:20px;
    left:20px;
}