

body{
  background-color: black;

}

.section-6{
  width: 80%;
  min-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.section-6-title{
  margin: 2rem 0rem;
  color: white;
}

.section-6-faq{
  width: 75%;
  /* max-width: 700px; */
  margin-top: 15px;
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  background-color:#1a1c20;
  cursor: pointer;

}

.section-6-faq:hover{
  background:#272c33;
}

.section-6-question{
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.section-6-question p{
  /* font-size: 1rem; */
  margin-bottom: 0;
}

.section-6-answer{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
  text-align: left;
}


.section-6-answer p{
  padding-top: 1rem;
  color:#c4c1e0 !important;
  /* line-height: 1.6; */
  /* font-size: 1.4rem; */
}

.section-6-faq.active .section-6-answer{
  max-height: 600px;

}
.section-6-faq a{
  color:#c4c1e0;
  text-decoration: underline;
}

.section-6-faq.active i{
  transform: rotate(180deg);
}

i{
  transition: transform 0.2s ease-in;
}

.section-6-getstarted{
  background-color: #1CE783!important;
  color: #fff;
}

.section-6-plight{
  font-size: 14px;
  color: #929aab;
}

.section-6-btnoutline{
  background-color: #272c33!important;
  border-color:#929aab  !important;
}

.section-6-btnoutline:hover{
  background-color: #272c33!important;
  border-color: white!important;
}

@media (max-width:560px){
  .section-6{
  margin:auto;
  width:95%;
    }
  .section-6-faq{
    width: 100%;
  }
}

@media (max-width:775px){
  .section-6{
  margin:auto;
  width:90%;
    }
  .section-6-faq{
    width: 100%;
  }
}
