

/* Base Settings */



:root{
    --light-clr: #FFFFFF;
    --dark-clr: #000000;
    --main-clr: #1ce783;
    --general-font-size: 2rem;
    --primary-title-font-size: 4.8rem;
    --secondary-title-font-size: 4rem;
    --main-font-family-light: 'Whitney Light', sans-serif;
    --main-font-family-medium: 'Whitney Medium', sans-serif;
    --main-font-family-bold: 'Whitney Bold', sans-serif;
    --num-of-grid-columns: 4;
    --section-spacing: 5.6rem 2.4rem;
    --container-width: 126rem;

}


a {
    text-decoration: none;
    display: inline-block;
}

img {
    max-width: 100%;
    display: block;
}

/* ----------------- Hero Section Starts --------------------- */


.sec-1-hero{
    background-color: var(--dark-clr);
    color: var(--light-clr);
    width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.sec-1-main-header{
    height: 8rem;
    padding: 0 2.4rem;
}

.sec-1-main-nav{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.sec-1-logo{
    width: 5rem;
}

.sec-1-nav-items-right{
    display: flex;
    align-items: center;
}

.sec-1-btn-small{
    margin-left: 36px;
    font-size: 18px;
    padding: 12px 32px;
    border: 1px solid rgb(248,248,248);
    border-radius: 22px;
    letter-spacing: 0px;
    line-height: 18px;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
}

.sec-1-btn-dark{
    color: var(--light-clr);
    font-size: 18px;
}

.sec-1-hero-content-wrap{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    white-space: pre-line;
    
}

.sec-1-primary-title{
    font-size: 97px;
    line-height: 107px;
    margin-top: 100px;
}
.sec-1-secondary-title{
    font-size: 30px;
    letter-spacing: -0.2px;
    text-align: center;
    margin-top: 35px;
}

.sec-1-hero-btn-group{
    display: inline-flex;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    pointer-events: auto;
    text-align: center;
    padding: 20px 65px;
    background-color: var(--main-clr);
    
    border-radius: 40px;
    cursor: pointer;
    margin-top: 58px;
}
.sec-1-btn-light{
    color: var(--light-clr);
    font-size: 24px;
    letter-spacing: 0.4px;
    line-height: 30px;
}

/* ----------------------- Hero Section Ends ------------------------- */

/* Responsive Design */
@media screen and (min-width: 1279px){
    .sec-1-hero{
        padding: 60px 50px 100px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1279px){
    .sec-1-hero{
        padding: 60px 50px 100px;
    }
    .sec-1-logo{
        width: 33px;
        height: 44px;
    }
}
/* Tablet view */
@media only screen and (min-width: 481px) and (max-width: 767px){
    .sec-1-hero{
        padding: 60px ;
    }
    .sec-1-btn-download{
        font-size: 11px;
        padding: 8px 26px;
        cursor: pointer;
    }
    .sec-1-hero-content-wrap{
        align-items: flex-start;
    }
    
    .sec-1-title{
        font-size: 65px;
        letter-spacing: -1.65px;
        line-height: 67px;
        text-align: left;
        white-space: inherit;
        width: 340px;
    }

    .sec-1-hero-description{
        font-size: 19px;
        letter-spacing: 0px;
        line-height: 24px;
        white-space: pre-line;
        text-align: left;
        width: 320px;
    }

    .sec-1-hero-btn-group{
        margin-top: 35px;
        letter-spacing: 0.3px;
        line-height: 18px;
        padding: 12px 28px;
        cursor: pointer;
        
    }
    .sec-1-btn-light{
        font-size: 18px;
        
    }
    .sec-1-logo{
        width: 33px;
        height: 44px;
    }
    
}
/* Mobile view */
@media screen and (max-width: 480px){
    .sec-1-hero{
        padding: 60px 40px 70px;
    }

    .sec-1-btn-download{
        font-size: 11px;
        padding: 8px 26px;
        cursor: pointer;
    }
    
    .sec-1-hero-content-wrap{
        align-items: flex-start;
    }

    .sec-1-title{
        font-size: 55px;
        letter-spacing: -1.65px;
        line-height: 47.5px;
        text-align: left;
        white-space: inherit;
        width: 270px;
    }

    .sec-1-hero-description{
        font-size: 16px;
        text-align: left;
        letter-spacing: 0px;
        line-height: 22px;
        white-space: pre-line;
        width: 270px;
        text-align: left;
    }

    .sec-1-hero-btn-group{
        margin-top: 35px;
        padding: 16px 24px;
        cursor: none;
    }
    .sec-1-btn-light{
        font-size: 18px;
        letter-spacing: 0.3px;
        line-height: 18px;
    }
    .sec-1-logo{
        width: 33px;
        height: 44px;
    }
}
