/* Base Settings */


.sec-3-div-tag{
    display: block;
}


.sec-3-body-s{
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}

.sec-3-growth{
    max-width: 100%;
}

.sec-3-container{
    max-width: 2000px;
    padding-top: 62px;
    padding-bottom: 0;
    margin: 100px 0px 200px 0px;
}
.sec-3-w-containter{
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
}

/* SPace Block */

.sec-3-space-block{
    height: 24px;

}

/* Heading Section */

.sec-3-h1-tag{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
    
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin: .67em,0;
}
.sec-3-primary-title{
    text-align: center;
    cursor:default;
}

/* .primary-title:hover{ 
top: -2px;
}
*/

/* Description Section */

.sec-3-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-3-description{

    padding-top: 33px;
    padding-bottom: 60px;
    color: #8e8e93;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 80%;
    font-weight: 300;

}

/* Emoji Section */

.sec-3-emoji-class-1{
    display: none;
}

.sec-3-emoji-class{
    display: block;
    text-align: center;
}

.sec-3-emoji-class-mobile{
    display: none;
}

.sec-3-heading-emoji{

    display: inline-block;
    margin: 0.8px;
    padding: 16px;
    border-radius: 10px;
    background-color: #19191a;
    color: #8e8e93;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.sec-3-h6-tag{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.sec-3-div-block-mobile{
    display: none;
}


/* Responsive view */

@media screen and (max-width:500px){

    /* Main Heading */
    .sec-3-heading{
        font-size: 30px;
    }

    /* Description after Heading */
    .sec-3-text{
        font-size: 20px;
        margin-right: 5px;
        margin-left: 5px;
    }

    /* Emoji section */
    .sec-3-emoji-class{
        display: none;
        margin-top: 0;
        margin-bottom: 24px;
        text-align: center;
    }

    .sec-3-emoji-class-mobile{
        display: block;
        text-align: center;
    }

    .sec-3-cat-title{
        margin-bottom: 16px;
        
        padding-top: 4px;
        padding-right: 8px;
        padding-bottom: 4px;
        padding-left: 8px;
        
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        
        font-size: 15px;
        line-height: 22px;
        
        margin-top: 0px;
        margin-right: 8px;
        margin-left: 8px;
            

        background-color: #19191a;
        color: #8e8e93;
        font-weight: 600;
    }

    /* Emoji loading section */

    .sec-3-div-block-mobile{

        display: flex;
        width: 100%;
        margin-top: 8px;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .sec-3-w-clearfix:after, 
    .sec-3-w-clearfix:before{

        content: " ";
        display: table;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-row-end: 2;
    }

    /* View all section */

    .sec-3-link-block-11.categories{

        display: flex;
        width: auto;
        justify-content: space-around;

    }

    .sec-3-link-block-11{

        float: right;
        -webkit-box-pack: center;
        border-style: none none solid;
        border-width: 2px;
        border-color: #FFFFFF;
        text-align: left;
        text-decoration: none;

    }
    .sec-3-w-inline-block {
        max-width: 100%;
    }
    .sec-3-a-tag{
        background-color: transparent;
    }
    .sec-3-text-block-66{
        width: auto;
        padding: 0 16px 0 0;
        float: left;
        color: #FFFFFF;
    }
    /* View all button */
    .sec-3-image-60 {
        display: block;
        padding-top: 5px;
        padding-left: 0;
        line-height: 24px;
    }
    .sec-3-img-tag{
        border: 0;
        max-width: 100%;
        vertical-align: middle;
    }

    .sec-3-w-clearfix:after {
        clear: both;
    }

}


